@use '@/shared/styles/mixins/container';

:root {
  padding-left: var(--layout--content-padding);
  padding-right: var(--layout--content-padding);
}

.aligncenter > .components-resizable-box__container {
  display: inline-block!important;
}

.wp-block-lb-feature-grid,
.wp-block-lb-hero-features-banner,
.wp-block-lb-text-banner,
.wp-block-lb-latest-posts-section,
.wp-block-lb-contact-info-section,
.wp-block-lb-team-section
 {

    max-width: 100%!important;
  
}