@use '@/shared/styles/mixins/container';

body {
  padding-left: var(--layout--content-padding);
  padding-right: var(--layout--content-padding);
}

.aligncenter > .components-resizable-box__container {
  display: inline-block!important;
}