@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root {
  --lb-tooltip-color-text: var(--lb-color-text-strong);
  --lb-tooltip-color-background: var(--lb-color-surface);
  --lb-tooltip-color-border: var(--lb-color-surface-outline-highest);
}

.lb-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--lb-tooltip-color-background);
  color: var(--lb-tooltip-color-text);
  border: 1.5px solid var(--lb-tooltip-color-border);
  border-radius: var(--wp--preset--spacing--70);
  padding: var(--wp--preset--spacing--80);
  @include font.get-text-styles('text-sm');
  max-width: 270px;
  overflow: hidden;

  &--hidden {
    display: none;
  }

  &--showed {
    display: block;
  }

  &--size {
    &_sm {
      @include font.get-text-styles('text-xs');
      padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--70);
    }
  }
}