@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use "@/shared/styles/mixins/breakpoints";

body {
  --lb-hero-banner-color-background: var(--lb-color-surface-highest);
  --lb-hero-banner-subtitle-color-text: var(--lb-color-text-default);
}

.lb-hero-banner {
  --lb-hero-banner-grid-col-template: var(--lb-layout-grid-col-template, repeat(12, 1fr));
  --lb-hero-banner-gap-x: var(--lb-layout-grid-gap-x, var(--layout-content-spacing));
  --lb-hero-banner-grid-col-start: var(--lb-layout-content-grid-col-start, 1);
  --lb-hero-banner-grid-col-end: var(--lb-layout-content-grid-col-end, -1);

  padding-top: var(--wp--preset--spacing--280);
  padding-bottom: var(--wp--preset--spacing--155);
  background-color: var(--lb-hero-banner-color-background);

  @include breakpoints.media-breakpoint-down(sm) {
    padding-top: var(--wp--preset--spacing--120);
    padding-bottom: var(--wp--preset--spacing--140);
  }

  &#{&} {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &--color {
    &_white {
      --lb-hero-banner-color-background: var(--lb-color-surface);
    }
    &_gray {
      --lb-hero-banner-color-background: var(--lb-color-surface-highest);
    }
  }

  &--align {
    &_center {
      @include breakpoints.media-breakpoint-up(md) {
        :where(%title) {
          text-align: center;
  
        }
        :where(%subtitle) {
          text-align: center;
        }
      }
      
    }

  }

  &__inner {
    @include container.make-container-max-width();
    display: grid;
    grid-template-columns: var(--lb-hero-banner-grid-col-template);
    column-gap: var(--lb-hero-banner-gap-x);
  }

  &__content {
    grid-column: var(--lb-hero-banner-grid-col-start) / var(--lb-hero-banner-grid-col-end);
  }

  &__publish-date {
    display: block;
    color: var(--wp--preset--color--primary-600);
    @include font.get-text-styles('text-md');
    font-weight: 600;
    margin-bottom: var(--wp--preset--spacing--70);
  }

  &__title {
    @include font.get-text-styles('display-lg');
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: var(--wp--preset--spacing--100);
    }
    @extend %title;
  }

  &__subtitle {
    color: var(--lb-hero-banner-subtitle-color-text);
    @include font.get-text-styles('text-xl');
    @extend %subtitle;
  }
}