@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';

.lbc-hero-banner {
  --lbc-hero-banner--background--color: var(--wp--preset--color--white);

  padding: var(--wp--preset--spacing--280) 0 var(--wp--preset--spacing--155);
  background-color: var(--lbc-hero-banner--background--color);
  
  &--white {
    --lbc-hero-banner--background--color: var(--wp--preset--color--white);
  }

  &--gray {
    --lbc-hero-banner--background--color: var(--wp--preset--color--#{colors.$colorGray}-25);
  }

  &__inner {
    @include container.make-container-max-width(--wp--preset--color--white);
  }
}