@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';

body {
  --lb-sidebar--border--color: var(--wp--preset--color--gray-200);
}

.lb-sidebar {
  &__block {
    border-top: 1px solid var(--lb-sidebar--border--color);
    padding-top: var(--wp--preset--spacing--120);
    &:not(:first-child) {
      margin-top: var(--wp--preset--spacing--120)
    }
    &-title {
      @include font.get-text-styles('text-md');
      font-weight: 600;
      color: var(--wp--preset--color--primary-600);
      margin-bottom: var(--wp--preset--spacing--80);
    }
  }
}
