@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root, .editor-styles-wrapper {
  --lb-sidebar-color-border: var(--wp--preset--color--gray-200);
  --lb-sidebar-block-title-color-text: var(--wp--preset--color--primary-600);
  --lb-sidebar-top-correction: 0px;
}

.lb-sidebar {
  position: sticky;
  top: calc(var(--lb-admin-bar-offset, 0px) + var(--lb-header-height, 0px) + var(--lb-sidebar-top-correction, 0px));
  
  &:has(.widget_block:first-child > .lb-sidebar-block:not(.lb-sidebar-block--bordered)) {
    --lb-sidebar-top-correction: var(--wp--preset--spacing--120)
  }

  &-block {
    padding-bottom: var(--wp--preset--spacing--120);

    &:has(%header:only-child):not(%is_preview) {
      display: none;
    }

    &--preview {
      @extend %is_preview;
    }

    &--bordered {
      border-top: 1px solid var(--lb-sidebar-color-border);
      padding: var(--wp--preset--spacing--120) 0;

      @include breakpoints.media-breakpoint-down(md) {
        border-top: none;
        &:first-child {
          padding-top: 0;
        }
      }

      @extend %sidebar-bordered;
    }

    &--contributors {
      %block-title {
        margin-bottom: var(--wp--preset--spacing--100);
        @include breakpoints.media-breakpoint-down(sm) {
          margin-bottom: var(--wp--preset--spacing--80);
        }
      }
    }

    &__header {
      &:has(.lb-sidebar-block__title:empty) {
        display: none;
      }
      @extend %header
    }

    &__title {
      width: 100%;
      padding: 0;
      border: none;
      @include font.get-text-styles('text-md', false);
      font-weight: 600;
      color: var(--lb-sidebar-block-title-color-text);
      margin: 0;
      margin-bottom: var(--wp--preset--spacing--80);
      i {
        font-size: 1.5em;
        font-weight: normal;
      }
      @extend %block-title
    }

  }
}

.widget_block {
  &:last-child {
    %sidebar-bordered {
      padding-bottom: 0;
    }
  }
}
