@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';


body, .editor-styles-wrapper {
  --lb-user-block-name-color: var(--lb-color-text-strong);
  --lb-user-block-job-color: var(--lb-color-text-default);
  --lb-user-block-bio-color: var(--lb-color-text-default);
}

.lb-user-block {
  width: 100%;

  &--size {
    &_sm {
      %avatar {
        width: var(--wp--preset--spacing--120);
        height: var(--wp--preset--spacing--120);
      }

      %head-left {
        column-gap: var(--wp--preset--spacing--65);
      }

      %name {
        @include font.get-text-styles('text-sm', false);
      }

      %job {
        @include font.get-text-styles('text-xs', false);
      }
    }

    &_md {
      %avatar {
        width: var(--wp--preset--spacing--140);
        height: var(--wp--preset--spacing--140);
      }

      %head-left {
        column-gap: var(--wp--preset--spacing--70);
      }

      %name {
        @include font.get-text-styles('text-sm', false);
      }

      %job {
        @include font.get-text-styles('text-sm', false);
      }
    }

    &_lg {
      %avatar {
        width: var(--wp--preset--spacing--160);
        height: var(--wp--preset--spacing--160);
      }

      %head-left {
        column-gap: var(--wp--preset--spacing--70);
      }

      %name {
        @include font.get-text-styles('text-md', false);
      }
      
      %job {
        @include font.get-text-styles('text-md', false);
      }
    }

    &_xl {
      %avatar {
        width: var(--wp--preset--spacing--180);
        height: var(--wp--preset--spacing--180);
      }

      %head-left {
        column-gap: var(--wp--preset--spacing--80);
      }

      %name {
        @include font.get-text-styles('text-lg', false);
      }
      
      %job {
        @include font.get-text-styles('text-md', false);
      }
    }
  }

  &__head {
    display: flex;
    column-gap: var(--wp--preset--spacing--80);
    row-gap: var(--wp--preset--spacing--100);
    align-items: flex-start;
    @include breakpoints.media-breakpoint-down(sm) {
      flex-direction: column;
    }
    &-left {
      display: flex;
      flex-grow: 1;
      @extend %head-left;
    }
  }

  &__avatar {
    flex-shrink: 0;

    border-radius: 50%;
    @extend %avatar;
  }

  &__info {
    display: flex;
    flex-direction: column;
    &--one-line {
      justify-content: center;
    }
  }

  &__name {
    display: block;
    font-weight: 600;
    color: var(--lb-user-block-name-color);
    @extend %name;
  }
  &__job {
    display: block;
    color: var(--lb-user-block-job-color);
    @extend %job;
  }

  &__socs {
    display: flex;
    column-gap: var(--wp--preset--spacing--70);
  }

  &__bio {
    margin-top: var(--wp--preset--spacing--80);
    @include font.get-text-styles('text-md');
    color: var(--lb-user-block-bio-color);
  }
}
