@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/breakpoints';

:root {
  --lb-layout-content-grid-col-start: 1;
  --lb-layout-content-grid-col-end: -1;
  --lb-layout-inner-grid-col-start: 1;
  --lb-layout-inner-grid-col-end: -1;
  --lb-layout-sidebar-grid-col-start: 1;
  --lb-layout-sidebar-grid-col-end: -1;
  --lb-layout-breadcrumbs-color-border: var(--lb-color-surface-outline-low);
}

.lb-main {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  &__content {
    flex-grow: 1;
  }
}

.lb-layout {
  &--sticky-box {
    --lb-layout-content-grid-col-start: 1;
    --lb-layout-content-grid-col-end: -1;

    %sidebar {
      @include breakpoints.media-breakpoint-down(md) {
        display: none;
      }
    }

    @include breakpoints.media-breakpoint-up(lg) {
      position: relative;
    }
  }

  &--with-sidebar {
    --lb-layout-inner-grid-col-start: 1;
    --lb-layout-inner-grid-col-end: 2;

    --lb-layout-sidebar-grid-col-start: 2;
    --lb-layout-sidebar-grid-col-end: 3;

    @include breakpoints.media-breakpoint-down(md) {
      --lb-layout-grid-col-template: 1fr;

      --lb-layout-sidebar-grid-col-start: 1;
      --lb-layout-sidebar-grid-col-end: 2;
    }

    %sidebar {
      grid-row: 1 / -1;
      grid-column: var(--lb-layout-sidebar-grid-col-start) /
        var(--lb-layout-sidebar-grid-col-end);

      @include breakpoints.media-breakpoint-down(md) {
        display: none;
      }
    }

    %inner {
      grid-row: 1 / -1;
      grid-column: var(--lb-layout-inner-grid-col-start) /
        var(--lb-layout-inner-grid-col-end);
    }
  }

  &--archive {
    --lb-layout-grid-col-template: 1fr 280px;
    --lb-layout-gap-x: var(--wp--preset--spacing--200);

    @include breakpoints.media-breakpoint-down(md) {
      --lb-layout-grid-col-template: 1fr;
    }
    %content {
      padding-top: var(--wp--preset--spacing--155);
      padding-bottom: var(--wp--preset--spacing--280);
      row-gap: var(--wp--preset--spacing--160);
      @include breakpoints.media-breakpoint-up(xl) {
        padding-left: calc(
          var(--wp--preset--spacing--230) + var(--layout--content-padding)
        );
        padding-right: calc(
          var(--wp--preset--spacing--230) + var(--layout--content-padding)
        );
      }

      @include breakpoints.media-breakpoint-down(sm) {
        padding-top: var(--wp--preset--spacing--120);
        padding-bottom: var(--wp--preset--spacing--120);
      }
    }
    
  }

  &--tight {
    %sidebar {
      @include breakpoints.media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &--tight-content {
    --lb-layout-grid-col-template: min(var(--lb-layout-content-size), 100%);

    %content {
      justify-content: center;
    }

    %inner {
    }

    %sidebar {
      @include breakpoints.media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__relative {
    position: relative;
  }

  &__content,
  &__precontent,
  &__aftercontent {
    display: grid;
    grid-template-columns: var(--lb-layout-grid-col-template);
    column-gap: var(--lb-layout-gap-x);
    @include container.make-container-max-width();

    @include breakpoints.media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__precontent {
    &-inner {
      grid-column: var(--lb-layout-content-grid-col-start) /
        var(--lb-layout-content-grid-col-end);
    }
  }

  &__aftercontent {
    padding-bottom: var(--wp--preset--spacing--280);
    @include breakpoints.media-breakpoint-down(md) {
      padding-bottom: var(--wp--preset--spacing--180);
    }

    @include breakpoints.media-breakpoint-down(sm) {
      padding-bottom: var(--wp--preset--spacing--120);
    }

    &-inner {
      grid-column: var(--lb-layout-content-grid-col-start) / -1;
    }
  }

  &__content {
    background-color: var(--lb-layout-content-color-background);
    padding-top: var(--wp--preset--spacing--155);
    padding-bottom: var(--wp--preset--spacing--155);
    @include breakpoints.media-breakpoint-down(md) {
      padding-top: var(--wp--preset--spacing--120);
      padding-bottom: var(--wp--preset--spacing--120);
    }

    &-footer {
      margin-top: var(--wp--preset--spacing--140);
    }

    @extend %content;
  }

  &__sidebar {
    @extend %sidebar;
  }

  &__inner {
    @extend %inner;
  }

  &__breadcrumbs {
    padding-top: var(--wp--preset--spacing--85);
    padding-bottom: var(--wp--preset--spacing--85);
    border-bottom: 1px solid var(--lb-layout-breadcrumbs-color-border);
    & > * {
      @include container.make-container-max-width();
    }
  }
}
