[submodule "wp/wp-content/plugins/lb-casino-compare"]
	path = wp/wp-content/plugins/lb-casino-compare
	url = https://github.com/dmilegal/lb-casino-compare.git
[submodule "wp/wp-content/plugins/aces"]
	path = wp/wp-content/plugins/aces
	url = https://github.com/dmilegal/aces.git
[submodule "wp/wp-content/plugins/custom-lang-switcher"]
	path = wp/wp-content/plugins/custom-lang-switcher
	url = https://github.com/dmilegal/custom-lang-switcher.git
[submodule "wp/wp-content/plugins/easy-accordion"]
	path = wp/wp-content/plugins/easy-accordion
	url = https://github.com/dmilegal/easy-accordion.git
[submodule "wp/wp-content/plugins/lb-app-cpt-addon"]
	path = wp/wp-content/plugins/lb-app-cpt-addon
	url = https://github.com/dmilegal/lb-app-cpt-addon.git
[submodule "wp/wp-content/plugins/lb-breadcrumb"]
	path = wp/wp-content/plugins/lb-breadcrumb
	url = https://github.com/dmilegal/lb-breadcrumb.git
[submodule "wp/wp-content/plugins/acf-country"]
	path = wp/wp-content/plugins/acf-country
	url = https://github.com/dmilegal/acf-country.git
