.ref-review-modal {
  .lb-modal__header {
    margin-bottom: var(--wp--preset--spacing--120);
  }
  .lb-modal__content {
    max-width: 432px;
  }

  .lb-compact-casino-bonus-card.lb-compact-casino-bonus-card {
    padding-bottom: var(--wp--preset--spacing--80);
  }
}