@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

body {
  --lb-toc-link-color-text: var(--lb-color-text-default);
  --lb-toc-link-color-text-hover: var(--wp--preset--color--primary-600);
}

.ez-toc {
  &-counter {
    @include font.get-text-styles('text-md');
    @include breakpoints.media-breakpoint-down(sm) {
      @include font.get-text-styles('text-sm');
    }
  }
  &-link {
    color: var(--lb-toc-link-color-text);
    text-decoration: none;
    transition: color 170ms ease-in-out;
    &:hover {
      color: var(--lb-toc-link-color-text-hover);
    }
  }
  &-list {
    &-level-3,&-level-4, &-level-5 {
      margin-top: var(--wp--preset--spacing--70);
      @include breakpoints.media-breakpoint-down(sm) {
        margin-top: var(--wp--preset--spacing--80);
      }
    }
    li {
      margin: var(--wp--preset--spacing--70) 0;
      @include breakpoints.media-breakpoint-down(sm) {
        margin: var(--wp--preset--spacing--80) 0;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    ul {
      padding-left: var(--wp--preset--spacing--70);
    }
  }
}
