@use 'sass:math';
@import '@/shared/styles/abstracts/_all.scss';
@import '@/shared/styles/mixins/_all.scss';

.lbc-button {
  display: inline-flex;
  color: var(--lbc-button--color);
  border: 1px solid var(--lbc-button--border--color);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  column-gap: var(--wp--preset--spacing--60);
  background-color: var(--lbc-button--background--color);
  transition:
    background-color 170ms ease-in-out,
    color 170ms ease-in-out,
    border-color 170ms ease-in-out;
  outline-style: solid;
  outline-width: 4px;
  outline-color: transparent;
  text-decoration: none;

  &:hover {
    background-color: var(--lbc-button--background--color--hover);
    border-color: var(--lbc-button--border--color--hover);
    color: var(--lbc-button--color--hover);
  }

  &:focus {
    outline-color: var(--lbc-button--outline--color--focus);
  }

  &:disabled {
    background-color: var(--lbc-button--background--color--disabled);
    border-color: var(--lbc-button--border--color--disabled);
    color: var(--lbc-button--color--disabled);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  &__postfix,
  &__prefix {
    display: flex;
    align-items: center;

    & > :where([class^='icon-'],
    [class*=' icon-']) {
      font-size: font-size(20px);
      font-weight: normal;
      @extend %icon;
    }
  }

  $noIcon: & + '--display_icon';

  &--display_icon {
    line-height: 1em;
  }

  &--size_sm {
    &:where(:not(#{$noIcon})) {
      @include get-text-styles('text-sm');
      padding: 8px 14px;
    }
    &:where(#{$noIcon}) {
      padding: 8px;
    }
  }
  &--size_md {
    &:where(:not(#{$noIcon})) {
      @include get-text-styles('text-sm');
      padding: 10px 16px;
    }
    &:where(#{$noIcon}) {
      padding: 10px;
    }
  }
  &--size_lg {
    &:where(:not(#{$noIcon})) {
      @include get-text-styles('text-md');
      padding: 10px 18px;
    }
    &:where(#{$noIcon}) {
      padding: 12px;
    }
  }
  &--size_xl {
    &:where(:not(#{$noIcon})) {
      @include get-text-styles('text-md');
      padding: 12px 20px;
    }
    &:where(#{$noIcon}) {
      padding: 14px;
    }
    :where(%icon) {
      font-size: calc(#{font-size-by-name('text-md')} + 4px);
    }
  }
  &--size_2xl {
    &:where(:not(#{$noIcon})) {
      @include get-text-styles('text-lg');
      padding: 16px 28px;
      column-gap: var(--wp--preset--spacing--70);
    }
    &:where(#{$noIcon}) {
      padding: 16px;
    }
    :where(%icon) {
      font-size: font-size(24px);
    }
  }

  @each $variant in 'primary', 'secondary', 'text', 'inline' {
    @each $colorName in $colorNames {
      &--variant_#{$variant}:where(#{'&--color_' + $colorName}) {
        @if $variant == 'primary' {
          --lbc-button--background--color: var(
            --wp--preset--color--#{$colorName}-#{$targetOffsets - 100}
          );
          --lbc-button--background--color--hover: var(
            --wp--preset--color--#{$colorName}-#{$targetOffsets}
          );
          --lbc-button--background--color--disabled: var(
            --wp--preset--color--#{$colorName}-200
          );
          --lbc-button--color: var(--wp--preset--color--white);
          --lbc-button--color--disabled: var(--wp--preset--color--white);
          --lbc-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        } @else if $variant == 'secondary' {
          --lbc-button--background--color: var(--wp--preset--color--#{$colorName}-50);
          --lbc-button--background--color--hover: var(
            --wp--preset--color--#{$colorName}-100
          );
          --lbc-button--background--color--disabled: var(
            --wp--preset--color--#{$colorName}-25
          );
          --lbc-button--color: var(--wp--preset--color--#{$colorName}-#{$targetOffsets});
          --lbc-button--color--disabled: var(--wp--preset--color--#{$colorName}-300);
          --lbc-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        } @else if $variant == 'text' {
          --lbc-button--background--color--hover: var(
            --wp--preset--color--#{$colorName}-50
          );
          --lbc-button--color: var(--wp--preset--color--#{$colorName}-#{$targetOffsets});
          --lbc-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        } @else if $variant == 'inline' {
          --lbc-button--color: var(--wp--preset--color--#{$colorName}-#{$targetOffsets});
          --lbc-button--color--hover: var(
            --wp--preset--color--#{$colorName}-#{$targetOffsets + 100}
          );
          --lbc-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        }
      }
    }
  }

  &--variant_primary,
  &--variant_secondary {
    --lbc-button--border--color: var(--lbc-button--background--color);
    --lbc-button--border--color--hover: var(--lbc-button--background--color--hover);
    --lbc-button--border--color--disabled: var(--lbc-button--background--color--disabled);
    --lbc-button--color--hover: var(--lbc-button--color);
  }

  &--variant_outlined {
    --lbc-button--background--color: var(--wp--preset--color--white);
    --lbc-button--background--color--hover: var(--wp--preset--color--#{$colorGray}-50);
    --lbc-button--background--color--disabled: var(--wp--preset--color--white);

    --lbc-button--border--color: var(--wp--preset--color--#{$colorGray}-300);
    --lbc-button--border--color--hover: var(--lbc-button--border--color);
    --lbc-button--border--color--disabled: var(--wp--preset--color--#{$colorGray}-200);

    --lbc-button--color: var(--wp--preset--color--#{$colorGray}-#{$targetOffsets});
    --lbc-button--color--hover: var(
      --wp--preset--color--#{$colorGray}-#{$targetOffsets + 100}
    );
    --lbc-button--color--disabled: var(--wp--preset--color--#{$colorGray}-300);

    --lbc-button--outline--color--focus: var(--wp--preset--color--#{$colorGray}-100);
  }

  &--variant_text {
    --lbc-button--background--color: transparent;
    --lbc-button--background--color--disabled: transparent;

    --lbc-button--border--color: transparent;
    --lbc-button--border--color--hover: var(--lbc-button--background--color--hover);
    --lbc-button--border--color--disabled: transparent;

    --lbc-button--color--hover: var(--lbc-button--color);
    --lbc-button--color--disabled: var(--wp--preset--color--#{$colorGray}-300);
  }

  &--variant_inline {
    --lbc-button--background--color: transparent;
    --lbc-button--background--color--hover: transparent;
    --lbc-button--background--color--disabled: transparent;

    --lbc-button--border--color: transparent;
    --lbc-button--border--color--hover: transparent;
    --lbc-button--border--color--disabled: transparent;

    --lbc-button--color--disabled: var(--wp--preset--color--#{$colorGray}-300);

    padding: 0;
  }
}
