@use 'sass:math';
@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';

.lb-button {
  display: inline-flex;
  color: var(--lb-button--color);
  border: 1px solid var(--lb-button--border--color);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  column-gap: var(--wp--preset--spacing--60);
  background-color: var(--lb-button--background--color);
  transition:
    background-color 170ms ease-in-out,
    color 170ms ease-in-out,
    border-color 170ms ease-in-out;
  outline-style: solid;
  outline-width: 4px;
  outline-color: transparent;
  text-decoration: none;

  &:hover {
    background-color: var(--lb-button--background--color--hover);
    border-color: var(--lb-button--border--color--hover);
    color: var(--lb-button--color--hover);
  }

  &:focus {
    outline-color: var(--lb-button--outline--color--focus);
  }

  &:disabled {
    background-color: var(--lb-button--background--color--disabled);
    border-color: var(--lb-button--border--color--disabled);
    color: var(--lb-button--color--disabled);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  &__postfix,
  &__prefix {
    display: flex;
    align-items: center;

    & > :where([class^='icon-'],
    [class*=' icon-']) {
      font-size: font.font-size-by-name('text-xl');
      font-weight: normal;
      @extend %icon;
    }
  }

  $noIcon: & + '--display_icon';

  &--display_icon {
    line-height: 1em;
  }

  &--size_sm {
    &:where(:not(#{$noIcon})) {
      @include font.get-text-styles('text-sm');
      padding: 8px 14px;
    }
    &:where(#{$noIcon}) {
      padding: 8px;
    }
  }
  &--size_md {
    &:where(:not(#{$noIcon})) {
      @include font.get-text-styles('text-sm');
      padding: 10px 16px;
    }
    &:where(#{$noIcon}) {
      padding: 10px;
    }
  }
  &--size_lg {
    &:where(:not(#{$noIcon})) {
      @include font.get-text-styles('text-md');
      padding: 10px 18px;
    }
    &:where(#{$noIcon}) {
      padding: 12px;
    }
  }
  &--size_xl {
    &:where(:not(#{$noIcon})) {
      @include font.get-text-styles('text-md');
      padding: 12px 20px;
    }
    &:where(#{$noIcon}) {
      padding: 14px;
    }
    :where(%icon) {
      font-size: font.font-size-by-name('text-xl');
    }
  }
  &--size_2xl {
    &:where(:not(#{$noIcon})) {
      @include font.get-text-styles('text-lg');
      padding: 16px 28px;
      column-gap: var(--wp--preset--spacing--70);
    }
    &:where(#{$noIcon}) {
      padding: 16px;
    }
    :where(%icon) {
      font-size: font.font-size-by-name('display-xs');
    }
  }

  @each $variant in 'contained', 'contained-light', 'text', 'inline' {
    @each $colorName in colors.$colorNames {
      &--variant_#{$variant}:where(#{'&--color_' + $colorName}) {
        @if $variant == 'contained' {
          --lb-button--background--color: var(
            --wp--preset--color--#{$colorName}-#{colors.$targetOffsets - 100}
          );
          --lb-button--background--color--hover: var(
            --wp--preset--color--#{$colorName}-#{colors.$targetOffsets}
          );
          --lb-button--background--color--disabled: var(
            --wp--preset--color--#{$colorName}-200
          );
          --lb-button--color: var(--lb-color-on-#{$colorName});
          --lb-button--color--disabled: var(--wp--preset--color--white);
          --lb-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        } @else if $variant == 'contained-light' {
          --lb-button--background--color: var(--wp--preset--color--#{$colorName}-50);
          --lb-button--background--color--hover: var(
            --wp--preset--color--#{$colorName}-100
          );
          --lb-button--background--color--disabled: var(
            --wp--preset--color--#{$colorName}-25
          );
          --lb-button--color: var(--wp--preset--color--#{$colorName}-#{colors.$targetOffsets});
          --lb-button--color--disabled: var(--wp--preset--color--#{$colorName}-300);
          --lb-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        } @else if $variant == 'text' {
          --lb-button--background--color--hover: var(
            --wp--preset--color--#{$colorName}-50
          );
          --lb-button--color: var(--wp--preset--color--#{$colorName}-#{colors.$targetOffsets});
          --lb-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        } @else if $variant == 'inline' {
          --lb-button--color: var(--wp--preset--color--#{$colorName}-#{colors.$targetOffsets});
          --lb-button--color--hover: var(
            --wp--preset--color--#{$colorName}-#{colors.$targetOffsets + 100}
          );
          --lb-button--outline--color--focus: var(
            --wp--preset--color--#{$colorName}-100
          );
        }
      }
    }
  }

  &--variant {
    &_contained,
    &_contained-light {
      --lb-button--border--color: var(--lb-button--background--color);
      --lb-button--border--color--hover: var(--lb-button--background--color--hover);
      --lb-button--border--color--disabled: var(--lb-button--background--color--disabled);
      --lb-button--color--hover: var(--lb-button--color);
    }
  
    &_outlined {
      --lb-button--background--color: var(--wp--preset--color--white);
      --lb-button--background--color--hover: var(--wp--preset--color--#{colors.$colorGray}-50);
      --lb-button--background--color--disabled: var(--wp--preset--color--white);
  
      --lb-button--border--color: var(--wp--preset--color--#{colors.$colorGray}-300);
      --lb-button--border--color--hover: var(--lb-button--border--color);
      --lb-button--border--color--disabled: var(--wp--preset--color--#{colors.$colorGray}-200);
  
      --lb-button--color: var(--wp--preset--color--#{colors.$colorGray}-#{colors.$targetOffsets});
      --lb-button--color--hover: var(
        --wp--preset--color--#{colors.$colorGray}-#{colors.$targetOffsets + 100}
      );
      --lb-button--color--disabled: var(--wp--preset--color--#{colors.$colorGray}-300);
  
      --lb-button--outline--color--focus: var(--wp--preset--color--#{colors.$colorGray}-100);
    }
  
    &_text {
      --lb-button--background--color: transparent;
      --lb-button--background--color--disabled: transparent;
  
      --lb-button--border--color: transparent;
      --lb-button--border--color--hover: var(--lb-button--background--color--hover);
      --lb-button--border--color--disabled: transparent;
  
      --lb-button--color--hover: var(--lb-button--color);
      --lb-button--color--disabled: var(--wp--preset--color--#{colors.$colorGray}-300);
    }
  
    &_inline {
      --lb-button--background--color: transparent;
      --lb-button--background--color--hover: transparent;
      --lb-button--background--color--disabled: transparent;
  
      --lb-button--border--color: transparent;
      --lb-button--border--color--hover: transparent;
      --lb-button--border--color--disabled: transparent;
  
      --lb-button--color--disabled: var(--wp--preset--color--#{colors.$colorGray}-300);
  
      padding: 0;
    }
  }
 
}
