@use '@/shared/styles/mixins/breakpoints';

.lb-related-posts {
  &:not(.swiper-initialized) {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: var(--wp--preset--spacing--90);
      
      @include breakpoints.media-breakpoint-down('sm') {
        column-gap: var(--wp--preset--spacing--60);
      }
    }

    %related-posts-item {
      width: auto;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item {
    display: flex;
    &#{&} {
      height: auto;
    }
    
    @include breakpoints.media-breakpoint-down('sm') {
      width: 220px;
    }
    @extend %related-posts-item;
  }
}
