@use '@/shared/styles/mixins/breakpoints';

body,
.editor-styles-wrapper {
  --wp-list-ico-color-text: var(--wp--preset--color--primary-500);
  --wp-list-ico-spacing-s: var(--wp--preset--spacing--120);
}

.is-list-ico-check,
.is-list-ico-cross {
  padding-left: 0;
  list-style: none;

  li {
    padding-left: var(--wp-list-ico-spacing-s);
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(10%);
      font-family: 'lhicon';
      font-size: 1.25em;
      speak: never;
      font-style: normal;
      font-weight: 600;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: var(--wp-list-ico-color-text);
    }
  }
}

.is-list-ico-check {
  li {
    &::before {
      content: '\e94f';
    }
  }
}

.is-list-ico-cross {
  --wp-list-ico-color-text: var(--wp--preset--color--gray-400);
  li {
    &::before {
      content: '\ea27';
    }
  }
}

.is-style-group-bordered {
  padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--100) var(--wp--preset--spacing--110);
  border: 1px solid var(--wp--preset--color--gray-200);
  border-radius: var(--wp--preset--spacing--80);

  @include breakpoints.media-breakpoint-down(sm) {
    padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--90) var(--wp--preset--spacing--110);
  }
}