@use '@/shared/styles/mixins/breakpoints';

:root,
.editor-styles-wrapper {
  --wp-list-ico-color-text: var(--lb-color-primary);
  --wp-list-ico-spacing-s: 2em;
}

:where(.is-list-ico-check,
.is-list-ico-cross) {
  padding-left: 0;
  list-style: none;

  :where(li) {
    padding-left: var(--wp-list-ico-spacing-s);
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      font-family: 'lhicon';
      font-size: 1.5em;
      width: 1em;
      text-align: center;
      speak: never;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
    }
  }
}

.is-list-ico-check {
  li {
    &::before {
      content: '\e94f';
    }
  }
}

.is-list-ico-cross {
  --wp-list-ico-color-text: var(--wp--preset--color--gray-400);
  li {
    &::before {
      content: '\ea27';
    }
  }
}

.is-style-group-bordered {
  padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--100) var(--wp--preset--spacing--110);
  border: 1px solid var(--wp--preset--color--gray-200);
  border-radius: var(--wp--preset--spacing--80);

  @include breakpoints.media-breakpoint-down(sm) {
    padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--90) var(--wp--preset--spacing--110);
  }
}