@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

.lb-tag-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--wp--preset--spacing--60);
  column-gap: var(--wp--preset--spacing--60);
}