@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

.lb-casino-details {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--wp--preset--spacing--160);
    row-gap: var(--wp--preset--spacing--100);
  }

  &-item {
    display: flex;
    column-gap: var(--wp--preset--spacing--80);
    
    &__ico {
      flex-shrink: 0;
    }

    &__content {
      padding-top: var(--wp--preset--spacing--65);
    }

    &__title {
      @include font.get-text-styles('text-lg');
      font-weight: 500;
      margin-bottom: var(--wp--preset--spacing--60);
      color: var(--lb-color-text-strong);
    }

    &__tags {
      @include font.get-text-styles('text-md');
      color: var(--lb-color-text-default);
    }
  }

  &-tag {
    &:not(:last-child) {
      &:after {
        content: ', ';
      }
    }
  }
}
