@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/breakpoints';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';

body {
  --lb-footer-color-background: var(--lb-color-surface-max);
  --lb-footer-dis-color-text: var(--lb-color-on-surface-min);

  --lb-footer-color-text: var(--lb-color-on-surface-highest);
  --lb-footer-color-text-hover: var(--lb-color-on-surface);
}

.lb-footer {
  display: block;
  width: 100%;
  background-color: var(--lb-footer-color-background);
  color: var(--lb-footer-color-text);

  &__inner {
    @include container.make-container-max-width();
  }

  &__top {
    padding: var(--wp--preset--spacing--140) 0;
    @include breakpoints.media-breakpoint-down(xs) {
      padding: var(--wp--preset--spacing--120) 0;
      
    }
  }

  &__grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--wp--preset--spacing--140);
    @include breakpoints.media-breakpoint-down(xs) {
      row-gap: var(--wp--preset--spacing--110);
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, auto);
    column-gap: var(--wp--preset--spacing--120);
    row-gap: var(--wp--preset--spacing--120);
    @include font.get-text-styles('text-md');
    font-weight: 600;

    @include breakpoints.media-breakpoint-down(xs) {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }

    a {
      text-decoration: none;
      color: var(--lb-footer-color-text);
      &:hover {
        color: var(--lb-footer-color-text-hover);
      }
    }
  }

  &__block {
    &-b {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      column-gap: var(--wp--preset--spacing--120);
      row-gap: var(--wp--preset--spacing--140);
      row-gap: var(--wp--preset--spacing--120);
      @include breakpoints.media-breakpoint-down(xs) {
        justify-content: center;
        row-gap: var(--wp--preset--spacing--110);
      }
    }
  }

  &__logo {
    height: 100%;
    width: 100%;
    max-height: var(--wp--preset--spacing--160);
    max-width: var(--wp--preset--spacing--420);
    object-fit: contain;
    object-position: left center;
  }

  &__cp {
    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      row-gap: var(--wp--preset--spacing--90);
      column-gap: var(--wp--preset--spacing--100);
    }
    &-logo {
      height: 32px;
      width: auto;
      height: auto;
      filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(7491%)
        hue-rotate(306deg) brightness(105%) contrast(104%);
      transition: filter 170ms ease-in-out;
      &:hover {
        filter: contrast(1);
      }
      a {
        cursor: pointer;
      }
    }
  }

  &__disclaimer {
    @include font.get-text-styles('text-xs');
    color: var(--lb-footer-dis-color-text);
    @include breakpoints.media-breakpoint-down(xs) {
      @include font.get-text-styles('caption-md');
    }
    p {
      margin: 0.5em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__bot {
    margin-top: var(--wp--preset--spacing--60);
    padding: var(--wp--preset--spacing--80) 0;
    @include font.get-text-styles('text-xs');
  }

  &__copy {
    @include font.get-text-styles('text-xs');
    color: var(--lb-footer-dis-color-text);
    margin-bottom: var(--wp--preset--spacing--50);
  }
}
