@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root,
.editor-styles-wrapper {
  --lb-lang-switcher-link-color: var(--lb-color-text-default);
  --lb-lang-switcher-link-bg: var(--lb-color-gray-low);
}

.lb-lang-switcher {
  position: relative;
  @include font.get-text-styles('text-xxs');
  font-weight: 500;
  color: var(--wp--preset--color--black);

  &,
  :where(ul) {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &:hover,
  &:has(%lang-sw-btn-trigger:focus) {
    %lng-sw-list {
      opacity: 1;
      visibility: visible;
    }
  }

  @each $colorName in colors.$colorNames {
    &--color_#{$colorName} {
      --lb-lang-switcher--color--hover: var(
        --wp--preset--color--#{$colorName}-#{colors.$targetOffsets}
      );
    }
  }

  &--size {
    &_sm {
      %icon-main {
        width: var(--wp--preset--spacing--85);
        height: var(--wp--preset--spacing--85);
      }
    }
    &_md {
      %icon-main {
        width: var(--wp--preset--spacing--120);
        height: var(--wp--preset--spacing--120);
        @include breakpoints.media-breakpoint-down(sm) {
          width: var(--wp--preset--spacing--100);
          height: var(--wp--preset--spacing--100);
        }
      }
    }
  }

  &__list {
    background-color: var(--wp--preset--color--white);
    position: absolute;
    width: max-content;
    min-width: 100px;
    max-width: 160px;
    padding: 12px 8px;
    top: calc(100% + 12px);
    left: -8px;
    display: flex;
    flex-direction: column;
    row-gap: var(--wp--preset--spacing--60);
    opacity: 0;
    border-radius: 6px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 4px 10px 0px rgb(57 60 63 / 33%);
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: 100%;
      left: 0;
    }

    &--top {
      top: auto;
      bottom: calc(100% + 12px);
      &:before {
        bottom: auto;
        top: 100%;
      }
    }

    &--only-text {
      padding: 8px 4px;
      row-gap: 0px;
      %lang-sw-link {
        padding: 6px 8px;
        &:hover {
          background-color: var(--lb-lang-switcher-link-bg);
        }
      }
    }

    @extend %lng-sw-list;
  }
  &__trigger {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: flex;
    column-gap: var(--wp--preset--spacing--60);
    @extend %lang-sw-btn-trigger;
  }
  &__label {
    @include font.get-text-styles('text-xs');
    font-weight: 400;
  }
  &__link {
    color: var(--lb-lang-switcher-link-color);
    display: flex;
    column-gap: var(--wp--preset--spacing--60);
    align-items: center;
    padding: 2px 0;
    cursor: pointer;
    transition:
      color 170ms ease-in-out,
      background-color 170ms ease-in-out;
    text-decoration: none;
    &:hover {
      color: var(--lb-lang-switcher--color--hover);
    }

    @extend %lang-sw-link;
  }
  &__ico {
    &--main {
      @extend %icon-main;
    }
    &--sub {
      width: 20px;
      height: 20px;
    }
  }
}
