@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root,
.editor-styles-wrapper {
}

.lb-team-section {
  padding: var(--wp--preset--spacing--160) 0 var(--wp--preset--spacing--280);

  @include breakpoints.media-breakpoint-down(xs) {
    padding: var(--wp--preset--spacing--160) 0;
  }

  &__container {
    @include container.make-container-max-width();
  }

  &__header {
  }

  &__title {
  }

  &__subtitle {
  }

  &__teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--wp--preset--spacing--90);
    row-gap: var(--wp--preset--spacing--90);

    @include breakpoints.media-breakpoint-down('xs') {
      column-gap: var(--wp--preset--spacing--60);
      row-gap: var(--wp--preset--spacing--60);
    }
  }
}
