@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root,
.editor-styles-wrapper {
}

.lb-team-section {
  padding: var(--wp--preset--spacing--160) 0 var(--wp--preset--spacing--280);

  @include breakpoints.media-breakpoint-down(xs) {
    padding: var(--wp--preset--spacing--140) 0;
  }

  &__container {
    @include container.make-container-max-width();
  }

  &__header {
  }

  &__title {
  }

  &__subtitle {
    @include breakpoints.media-breakpoint-down(xs) {
      text-align: center;
      margin-bottom: var(--wp--preset--spacing--85);
    }
  }

  &__teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
    column-gap: var(--wp--preset--spacing--90);
    row-gap: var(--wp--preset--spacing--90);
    justify-content: center;

    &:has(> *:nth-child(3)) {
      max-width: none;
      grid-template-columns: repeat(3, 1fr);
      @include breakpoints.media-breakpoint-down('xs') {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include breakpoints.media-breakpoint-down('xs') {
      column-gap: var(--wp--preset--spacing--60);
      row-gap: var(--wp--preset--spacing--60);
    }
  }
}
