$globalSelector: null !default;
$proseCustomSelector: null !default;
$disableNormalize: null !default;
/*
* Project style
*/
/*base*/
@use 'base' with (
  $globalSelector: $globalSelector,
  $proseCustomSelector: $proseCustomSelector,
  $disableNormalize: $disableNormalize
);

/*themes*/
@use 'themes' with (
  $globalSelector: $globalSelector,
  $proseCustomSelector: $proseCustomSelector
);

@use 'components';