$globalSelector: null !default;
$proseCustomSelector: null !default;

@use 'text' with (
  $globalSelector: $globalSelector,
  $proseCustomSelector: $proseCustomSelector
);
@use 'table' with (
  $globalSelector: $globalSelector,
  $proseCustomSelector: $proseCustomSelector
);
@use 'list';
@use 'spacing';
@use 'form';
@use 'images' with (
  $proseCustomSelector: $proseCustomSelector
);
@use 'screen';
