@each $name, $param in $block-gaps {
  .has-mobile-#{$name}-margin-top {
    @include media-breakpoint-down(sm) {
      margin-top: $param !important;
    }
  }
  .has-mobile-#{$name}-margin-bottom {
    @include media-breakpoint-down(sm) {
      margin-bottom: $param !important;
    }
  }
  .has-tablet-#{$name}-margin-top {
    @include media-breakpoint-only(md) {
      margin-top: $param !important;
    }
  }
  .has-tablet-#{$name}-margin-bottom {
    @include media-breakpoint-only(md) {
      margin-bottom: $param !important;
    }
  }
  .has-desktop-#{$name}-margin-top {
    @include media-breakpoint-up(lg) {
      margin-top: $param !important;
    }
  }
  .has-desktop-#{$name}-margin-bottom {
    @include media-breakpoint-up(lg) {
      margin-bottom: $param !important;
    }
  }
}
