$globalSelector: ':root' !default;
$proseCustomSelector: null !default;

@use 'sass:map';
@use '@/shared/styles/abstracts/text';
@use '@/shared/styles/mixins/typo';
@use '@/shared/styles/mixins/font';

#{$globalSelector} {
  --lb-table-color-text: var(--lb-color-text-default);
  --lb-table-color-background: var(--lb-color-surface);
  --lb-table-title-color-text: var(--lb-color-on-surface);
}


@include typo.make-prose('content', '.wp-block-table', $proseCustomSelector) {
  overflow: auto;
  table {
    background-color: var(--lb-table-color-background);
    border: 1px solid var(--wp--preset--color--gray-200);
    color: var(--lb-table-color-text);
    border-radius: var(--wp--preset--spacing--60);
    border-spacing: 0;
    border-collapse: separate!important;
    thead {
      border: none;
    }
    :where(tr) {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
    td,
    th {
      padding: var(--wp--preset--spacing--85) var(--wp--preset--spacing--100);
      @include font.get-text-styles('text-sm');
      border: none;
      border-bottom: 1px solid var(--wp--preset--color--gray-200);
    }

    :where(th) {
      color: var(--lb-table-title-color-text);
      font-weight: 500;
    }

    tr {
    }
  }
  :where(th):not([class*="has-text-align"]) {
    text-align: left;
  }
  
}

@include typo.make-prose('spaces', '.wp-block-table', $proseCustomSelector) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--160);
  &:first-child {
    margin-block-start: 0;
  }
  &:last-child {
    margin-block-end: 0;
  }
}
