$globalSelector: ':root' !default;
$proseCustomSelector: null !default;
$isEditor: false !default;

@use 'sass:map';
@use '@/shared/styles/abstracts/text';
@use '@/shared/styles/mixins/typo';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

#{$globalSelector} {
  font-family: var(--wp--preset--font-family--base);
  --lb-ui-color-text: var(--lb-color-text-default);
  --lb-ui-color-heading-text: var(--lb-color-text-strong);
  --lb-ui-color-link-text: var(--lb-color-action-text-default);
}

@include typo.make-prose('headings', 'h2', $proseCustomSelector) {
  @include font.get-text-styles('display-sm');
  font-weight: 600;
}

@include typo.make-prose('headings', 'h3', $proseCustomSelector) {
  @include font.get-text-styles('display-xs');
  font-weight: 600;
}

@include typo.make-prose('content', 'p', $proseCustomSelector) {
  @include font.get-text-styles('text-md');
}

@include typo.make-prose('content', 'ul, ol', $proseCustomSelector) {
  @include font.get-text-styles('text-md');
  display: flex;
  flex-direction: column;
  row-gap: var(--wp--preset--spacing--90);
  padding-left: 0;
  list-style: none;
  li {
    &::marker, &::before {
      color: var(--wp-list-ico-color-text);
    }
  }
}

@include typo.make-prose('content', 'ul:not(.is-list-ico-check,.is-list-ico-cross)', $proseCustomSelector) {
  :where(li) {
    padding-left: var(--wp-list-ico-spacing-s);
    position: relative;
    &:before {
      content: '•';
      position: absolute;
      font-size: 1.75em;
      right: calc(100% - (var(--wp-list-ico-spacing-s) - 0.75em) / 2);
      top: 0;
    }
  }
}

@include typo.make-prose('content', 'ol:not(.is-list-ico-check,.is-list-ico-cross)', $proseCustomSelector) {
  :where(li) {
    padding-left: var(--wp-list-ico-spacing-s);
    position: relative;
    &:before {
      content: counter(list-item);
      font-weight: 500;
      position: absolute;
      right: calc(100% - var(--wp-list-ico-spacing-s) / 2 + 1px);
      top: 0;
    }
  }

}

@include typo.make-prose('content', 'img', $proseCustomSelector) {
  width: 100%;
}

@include typo.make-prose(
  'spaces',
  'h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote,.wp-block-image,.wp-block-columns,.lb-group-list,.lb-review-details,.lb-review-list,.lb-author-block,[id*="sp_easy_accordion"],.lb-step-list,.wp-block-casino-card,.wp-block-lb-casino-card,.wp-block-bonus-card,.wp-block-relinking-list',
  $proseCustomSelector,
  $isEditor
) {
  &:first-child {
    margin-block-start: 0;
  }
  &:last-child {
    margin-block-end: 0;
  }
}

@include typo.make-prose(
  'spaces',
  '.wp-block-columns,.lb-group-list',
  $proseCustomSelector,
  $isEditor
) {
  margin-block-start: var(--wp--preset--spacing--100);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', 'h2', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', 'h3', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--80);
  @include breakpoints.media-breakpoint-down(sm) {
    margin-block-start: var(--wp--preset--spacing--140);
  }
}

@include typo.make-prose('spaces', 'p,.wp-block-image', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--80);
  margin-block-end: var(--wp--preset--spacing--80);
}

@include typo.make-prose('spaces', 'ul,ol', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--90);
  margin-block-end: var(--wp--preset--spacing--90);
}

@include typo.make-prose('spaces', 'blockquote', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--100);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', '.lb-post-info', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--100);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', '.lb-logo-text', $proseCustomSelector, $isEditor) {
  --lb-logo-text-space-y: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', '.wp-block-media-text', $proseCustomSelector, $isEditor) {
  --wp-block-media-text-space-y: var(--wp--preset--spacing--100);
}

@include typo.make-prose(
  'spaces',
  '.lb-author-block, [id*="sp_easy_accordion"]',
  $proseCustomSelector,
  $isEditor
) {
  margin-block-start: var(--wp--preset--spacing--100);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', '.lb-author-block', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--160);

  @include breakpoints.media-breakpoint-down(sm) {
    margin-block-start: var(--wp--preset--spacing--140);
    margin-block-end: var(--wp--preset--spacing--140);
  }
}

@include typo.make-prose('spaces', '.lb-review-details', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--160);

  @include breakpoints.media-breakpoint-down(sm) {
    margin-block-start: var(--wp--preset--spacing--140);
    margin-block-end: var(--wp--preset--spacing--140);
  }
}

@include typo.make-prose('spaces', '.lb-review-list', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--140);
  margin-block-end: var(--wp--preset--spacing--140);

  @include breakpoints.media-breakpoint-down(sm) {
    margin-block-start: var(--wp--preset--spacing--120);
    margin-block-end: var(--wp--preset--spacing--120);
  }
}

@include typo.make-prose('spaces', '.lb-step-list', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--120);
  margin-block-end: var(--wp--preset--spacing--120);
}

@include typo.make-prose('spaces', '.wp-block-casino-card,.wp-block-lb-casino-card', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--100);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', '.wp-block-bonus-card', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--100);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', '.lb-relinking-list', $proseCustomSelector, $isEditor) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--160);

  @include breakpoints.media-breakpoint-down(sm) {
    margin-block-start: var(--wp--preset--spacing--140);
    margin-block-end: var(--wp--preset--spacing--140);
  }
}

@include typo.make-prose('colors', 'h1, h2, h3, h4, h5, h6', $proseCustomSelector) {
  color: var(--lb-ui-color-heading-text);
}

@include typo.make-prose('colors', 'a', $proseCustomSelector) {
  color: var(--lb-ui-color-link-text);
}

@include typo.make-prose('colors', 'p, ul, ol', $proseCustomSelector) {
  color: var(--lb-ui-color-text);
}

@each $name, $params in text.$body-fonts {
  .has-#{$name}-font-size {
    font-size: map.get($params, 'font-size');
    line-height: map.get($params, 'line-height');
    letter-spacing: map.get($params, 'letter-spacing');
  }
}
