$globalSelector: 'body' !default;
$proseCustomSelector: null !default;

@use 'sass:map';
@use '@/shared/styles/abstracts/text';
@use '@/shared/styles/mixins/typo';
@use '@/shared/styles/mixins/font';

#{$globalSelector} {
  font-family: var(--wp--preset--font-family--base);
  --lb-ui-color-text: var(--lb-semantic-color-text-default);
  --lb-ui-color-heading-text: var(--lb-semantic-color-text-prominent);
}

@include typo.make-prose('headings', 'h2', $proseCustomSelector) {
  @include font.get-text-styles('display-sm');
  font-weight: 600;
}

@include typo.make-prose('headings', 'h3', $proseCustomSelector) {
  @include font.get-text-styles('display-xs');
  font-weight: 600;
}

@include typo.make-prose('content', 'p', $proseCustomSelector) {
  @include font.get-text-styles('text-md');
}

@include typo.make-prose('content', 'ul, ol', $proseCustomSelector) {
  @include font.get-text-styles('text-md');
  list-style: disc;
  padding-left: var(--wp--preset--spacing--90);
  display: flex;
  flex-direction: column;
  row-gap: var(--wp--preset--spacing--80);
}

@include typo.make-prose('content', 'ul', $proseCustomSelector) {
  list-style: disc;
}

@include typo.make-prose('content', 'ol', $proseCustomSelector) {
  list-style: decimal;
}

@include typo.make-prose('content', 'img', $proseCustomSelector) {
  width: 100%;
}

@include typo.make-prose(
  'spaces',
  'h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote,.wp-block-image,.lb-pros-cons',
  $proseCustomSelector
) {
  &:first-child {
    margin-block-start: 0;
  }
  &:last-child {
    margin-block-end: 0;
  }
}

@include typo.make-prose('spaces', 'h2', $proseCustomSelector) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', 'h3', $proseCustomSelector) {
  margin-block-start: var(--wp--preset--spacing--160);
  margin-block-end: var(--wp--preset--spacing--80);
}

@include typo.make-prose('spaces', 'p,ul,ol,.wp-block-image', $proseCustomSelector) {
  margin-block-start: var(--wp--preset--spacing--80);
  margin-block-end: var(--wp--preset--spacing--80);
}

@include typo.make-prose('spaces', 'blockquote', $proseCustomSelector) {
  margin-block-start: var(--wp--preset--spacing--100);
  margin-block-end: var(--wp--preset--spacing--100);
}

@include typo.make-prose('spaces', '.lb-pros-cons', $proseCustomSelector) {
  margin-block-start: var(--wp--preset--spacing--120);
  margin-block-end: var(--wp--preset--spacing--120);
}

@include typo.make-prose('colors', 'h1,h2,h3,h4,h5,h6', $proseCustomSelector) {
  color: var(--lb-ui-color-heading-text);
}

@include typo.make-prose('colors', 'a', $proseCustomSelector) {
  color: var(--wp--preset--color--primary-600);
}

@include typo.make-prose('colors', 'p,ul', $proseCustomSelector) {
  color: var(--lb-ui-color-text);
}

@each $name, $params in text.$body-fonts {
  .has-#{$name}-font-size {
    font-size: map.get($params, 'font-size');
    line-height: map.get($params, 'line-height');
    letter-spacing: map.get($params, 'letter-spacing');
  }
}
