@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';
@use '@/shared/styles/mixins/media-containers';

:root {
  --lb-relinking-list-gap-x: var(--wp--preset--spacing--60);
  --lb-relinking-list-gap-y: var(--wp--preset--spacing--60);
  --lb-relinking-list-actions-margin-top: var(--wp--preset--spacing--60);
  --lb-relinking-list-col-count: 4;
}

.lb-relinking-list {
  container-type: inline-size;

  &--theme {
    &_grid {
      &:not(%col-auto) {
        %list {
          display: grid;
          column-gap: var(--lb-relinking-list-gap-x);
          row-gap: var(--lb-relinking-list-gap-y);
          grid-template-columns: repeat(var(--lb-relinking-list-col-count), 1fr);
        }
      }

      @extend %theme-grid;
    }

    &_slider {
      .swiper-slide {
        width: auto;
      }

      .swiper-wrapper {
        margin-bottom: calc(-1 * var(--lb-relinking-list-gap-y));
      }

      .swiper-slide {
        margin-bottom: var(--lb-relinking-list-gap-y);
        &:where(:not(:last-child)) {
          margin-right: var(--lb-relinking-list-gap-x);
        }
      }

      @extend %theme-slider;
    }

    &_blocks {
      %list {
        display: grid;
        column-gap: var(--lb-relinking-list-gap-x);
        row-gap: var(--lb-relinking-list-gap-y);
        grid-template-columns: repeat(var(--lb-relinking-list-col-count), 1fr);

        @include breakpoints.media-breakpoint-down('sm') {
          display: flex;
          overflow: auto;

          & > * {
            width: 192px;
            flex-shrink: 0;
          }
        }
    
        @supports (-moz-appearance: none) {
          scrollbar-color: var(--wp--preset--color--gray-300) transparent;
          padding-bottom: var(--wp--preset--spacing--80);
          
          @include breakpoints.media-breakpoint-down('xs') {
            max-width: var(--wp--preset--spacing--60);
          }
        }
        
        &::-webkit-scrollbar {
          height: 12px;
        }
        
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 14px 14px transparent;
          border: solid 4px transparent;
        }
        
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 8px 8px var(--wp--preset--color--gray-300);
          border-top: solid 8px transparent;
        }
        
        /* set button(left and right of the scrollbar) */
        &::-webkit-scrollbar-button {
          display: none;
        }
      }

      @extend %theme-blocks;
    }
  }

  &--col-count {
    &_3 {
      &%theme-grid,
      &%theme-slider {
        --lb-relinking-list-col-count: 3;
        @include breakpoints.media-breakpoint-down('sm') {
          --lb-relinking-list-col-count: 2;
        }
      }

      &%theme-blocks {
        --lb-relinking-list-col-count: 3;
      }
    }

    &_4 {
      &%theme-grid,
      &%theme-slider {
        --lb-relinking-list-col-count: 4;
        @include breakpoints.media-breakpoint-down('sm') {
          --lb-relinking-list-col-count: 2;
        }
      }

      &%theme-blocks {
        --lb-relinking-list-col-count: 4;
        @include breakpoints.media-breakpoint-down('md') {
          --lb-relinking-list-col-count: 3;
        }
      }
    }

    &_5 {
      &%theme-grid,
      &%theme-slider {
        --lb-relinking-list-col-count: 5;
        @include breakpoints.media-breakpoint-down('sm') {
          --lb-relinking-list-col-count: 2;
        }
      }

      &%theme-blocks {
        --lb-relinking-list-col-count: 5;
        @include breakpoints.media-breakpoint-down('md') {
          --lb-relinking-list-col-count: 3;
        }
      }
    }

    &_auto {
      &%theme-grid,
      &%theme-slider {
        %list {
          display: flex;
          flex-wrap: wrap;
          column-gap: var(--lb-relinking-list-gap-x);
          row-gap: var(--lb-relinking-list-gap-y);
        }
      }
    }
  }

  &--gap {
    &_md {
      &%theme-blocks {
        --lb-relinking-list-gap-x: var(--wp--preset--spacing--80);
        --lb-relinking-list-gap-y: var(--wp--preset--spacing--120);
        @include breakpoints.media-breakpoint-down('sm') {
          --lb-relinking-list-gap-x: var(--wp--preset--spacing--60);
        }
      }
    }
    &_lg {
      &%theme-grid,
      &%theme-slider {
        --lb-relinking-list-gap-x: var(--wp--preset--spacing--90);
        --lb-relinking-list-gap-y: var(--wp--preset--spacing--90);
        @include breakpoints.media-breakpoint-down('sm') {
          --lb-relinking-list-gap-x: var(--wp--preset--spacing--60);
          --lb-relinking-list-gap-y: var(--wp--preset--spacing--60);
        }
      }
    }
  }

  &__header {
    margin-block-end: var(--wp--preset--spacing--100);
  }

  &__title {
    color: var(--lb-ui-color-heading-text);
    font-weight: 600;
    @include font.get-text-styles('display-sm');
  }

  &__list {
    @extend %list;
  }

  &__actions {
    margin-top: var(--lb-relinking-list-actions-margin-top);
  }

  &__slider {
    &-wrapper {
      position: relative;
    }

    &-nav {
      z-index: 5;
      position: absolute;
      top: 50%;
      @include breakpoints.media-breakpoint-down('sm') {
        display: none;
      }
      @extend %nav-btn;
    }

    &-prev {
      left: 0px;
      transform: translate(-50%, -30%);
    }

    &-next {
      right: 0px;
      transform: translate(50%, -30%);
    }
    @extend %slider;
  }

  &--mod {
    &_only-mobile-slider {
      @include breakpoints.media-breakpoint-up('sm') {
        %slider {
          overflow: visible;
        }

        %nav-btn {
          display: none;
        }

        .swiper-wrapper {
          margin: 0;
        }

        .swiper-slide {
          margin: 0;
        }

        &:not(%col-auto) {
          .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(var(--lb-relinking-list-col-count), 1fr);
            column-gap: var(--lb-relinking-list-gap-x);
            row-gap: var(--lb-relinking-list-gap-y);
          }

          .swiper-slide {
            & > * {
              width: 100%;
            }
          }
        }
        &%col-auto {
          .swiper-wrapper {
            flex-wrap: wrap;
            column-gap: var(--lb-relinking-list-gap-x);
            row-gap: var(--lb-relinking-list-gap-y);
          }
        }
      }
    }
  }

  &__show-more {
    width: 100%;
  }
}
