.member-section {
    padding: 24px;
    background-color: #f5f6fa;
    box-shadow: 1px 5px 10px 0px rgb(98 128 157 / 25%);
}

@media not all and (min-width: 768px) {
    .member-section {
        padding: 16px;
    } 
}

.member-content {
    display: flex;
}

@media not all and (min-width: 768px) {
    .member-content {
        flex-wrap: wrap;
    } 
}

.member-name {
    margin-bottom: 16px;
}

@media not all and (min-width: 768px) {
    .member-name {
        text-align: center;
    } 
}

.member-preview {
    flex-shrink: 0;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    margin-right: 24px;
}

@media not all and (min-width: 768px) {
    .member-preview {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    } 
}

.member-socials {
    display: flex;
    column-gap: 8px;
    font-size: 1.2rem;
    line-height: 1em;
}

.member-links {
    text-align: right;
    margin-top: 14px;
}