@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root {
  --lb-promo-bonus-color-border: var(--lb-color-primary-outline-variant-1);
  --lb-promo-bonus-color-background: var(--lb-color-primary-container-low);
  --lb-promo-bonus-title-color-text: var(--lb-color-primary);
  --lb-promo-bonus-subtitle-color-text: var(--lb-color-text-strong);
  --lb-promo-bonus-tc-color-text: var(--lb-color-on-primary-container);

  --lb-promo-bonus-tc-extra-color-text: var(--lb-color-text-default);
}

.lb-promo-bonus {
  background-color: var(--lb-promo-bonus-color-background);
  border: 1px solid var(--lb-promo-bonus-color-border);
  border-radius: var(--wp--preset--spacing--80);
  padding: var(--wp--preset--spacing--120) var(--wp--preset--spacing--120)
    var(--wp--preset--spacing--140);
  @include breakpoints.media-breakpoint-down(sm) {
    @include font.get-text-styles('text-sm', false);
    padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--100)
      var(--wp--preset--spacing--140);
  }

  &__header {
    margin-bottom: var(--wp--preset--spacing--120);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @include font.get-text-styles('text-md', false);
    font-weight: 700;
    color: var(--lb-promo-bonus-title-color-text);
    margin-bottom: var(--wp--preset--spacing--70);
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoints.media-breakpoint-down(sm) {
      @include font.get-text-styles('text-sm', false);
    }
  }

  &__subtitle {
    @include font.get-text-styles('display-sm', false);
    font-weight: 500;
    color: var(--lb-promo-bonus-subtitle-color-text);

    @include breakpoints.media-breakpoint-down(sm) {
      @include font.get-text-styles('display-xs', false);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--wp--preset--spacing--80);
    row-gap: var(--wp--preset--spacing--80);
    margin-bottom: var(--wp--preset--spacing--120);
    &:last-child {
      margin-bottom: 0;
    }
    & > * {
      width: 100%;
    }
  }

  &__tc-link {
    @include font.get-text-styles('text-sm', false);
    color: var(--lb-promo-bonus-tc-color-text);
  }

  &__tc-extra {
    @include font.get-text-styles('text-xxs', false);
    color: var(--lb-promo-bonus-tc-extra-color-text);
    margin-top: var(--wp--preset--spacing--60);
    &:after {
      content: attr(data-content);
    }
  }
}
