@use 'sass:math';
@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';

.lb-featured-icon {
  display: inline-flex;
  box-sizing: border-box;
  color: var(--lb-featured-icon-color-text);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  background-color: var(--lb-featured-icon-color-background);
  border: var(--lb-featured-icon-size-border, 0px) solid
    var(--lb-featured-icon-color-border);

  width: var(--lb-featured-icon-size);
  height: var(--lb-featured-icon-size);
  font-size: calc(var(--lb-featured-icon-size) / 2);
  line-height: 1em;
  border-radius: 50%;

  &--size {
    &_2xs {
      --lb-featured-icon-size: var(--wp--preset--spacing--90);
    }
    &_xs {
      --lb-featured-icon-size-border: 2px;
      --lb-featured-icon-size: var(--wp--preset--spacing--100);
    }
    &_sm {
      --lb-featured-icon-size: var(--wp--preset--spacing--110);
    }
    &_md {
      --lb-featured-icon-size-border: 4px;
      --lb-featured-icon-size: var(--wp--preset--spacing--120);
    }
    &_lg {
      --lb-featured-icon-size: var(--wp--preset--spacing--130);
    }
    &_xl {
      --lb-featured-icon-size-border: 6px;
      --lb-featured-icon-size: var(--wp--preset--spacing--140);
    }
    &_2xl {
      --lb-featured-icon-size-border: 8px;
      --lb-featured-icon-size: var(--wp--preset--spacing--160);
    }
    &_3xl {
      --lb-featured-icon-size-border: 10px;
      --lb-featured-icon-size: var(--wp--preset--spacing--180);
    }
  }

  &--rounded {
    border-radius: var(--wp--preset--spacing--60);
  }

  @each $variant in 'contained', 'contained-light', 'contained-lightest', 'contained-dark',
    'outlined-bold'
  {
    @each $colorName in colors.$colorNames {
      &--variant_#{$variant}:where(#{'&--color_' + $colorName}) {
        @if $variant == 'contained' {
          --lb-featured-icon-color-text: var(--lb-color-on-#{$colorName});
          --lb-featured-icon-color-background: var(--lb-color-#{$colorName});
        } @else if $variant == 'contained-light' {
          --lb-featured-icon-color-text: var(--lb-color-on-#{$colorName}-container);
          --lb-featured-icon-color-background: var(--lb-color-#{$colorName}-container);
        } @else if $variant == 'contained-lightest' {
          --lb-featured-icon-color-text: var(--lb-color-on-#{$colorName}-container);
          --lb-featured-icon-color-background: var(
            --lb-color-#{$colorName}-container-low
          );
        } @else if $variant == 'contained-dark' {
          --lb-featured-icon-color-text: var(--lb-color-on-#{$colorName});
          --lb-featured-icon-color-background: var(--lb-color-#{$colorName}-highest);
        } @else if $variant == 'outlined-bold' {
          --lb-featured-icon-color-text: var(--lb-color-on-#{$colorName}-container);
          --lb-featured-icon-color-border: var(--lb-color-#{$colorName}-container-low);
          --lb-featured-icon-color-background: var(--lb-color-#{$colorName}-container);
        }
      }
    }
  }

  &--variant {
    &_outlined {
      --lb-featured-icon-color-text: var(--lb-color-on-surface);
      --lb-featured-icon-color-background: var(--lb-color-surface);
      --lb-featured-icon-color-border: var(--lb-color-surface-outline);
    }
  }
}
