@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

.lb-blockquote {
  padding-top: var(--wp--preset--spacing--60);
  padding-bottom: var(--wp--preset--spacing--60);
  padding-left: var(--wp--preset--spacing--90);
  border-left: 2px solid var(--wp--preset--color--primary-700);
  :where(p) {
    @include font.get-text-styles('text-md');
    color: var(--wp--preset--color--gray-900);
    margin: var(--wp--preset--spacing--70) 0;
    font-weight: 500;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  :where(footer) {
    margin-top: var(--wp--preset--spacing--90);
  }
  :where(cite) {
    @include font.get-text-styles('text-sm');
    color: var(--wp--preset--color--gray-500);
  }

  &__author {
    @include font.get-text-styles('text-sm');
    display: flex;
    align-items: center;
    column-gap: var(--wp--preset--spacing--70);
    &-avatar {
      width: var(--wp--preset--spacing--140);
      height: var(--wp--preset--spacing--140);
      border-radius: 50%;
      flex-shrink: 0;
    }
    &-name {
      font-weight: 600;
      color: var(--wp--preset--color--gray-900);
    }
    &-job {
      color: var(--wp--preset--color--gray-500);
    }
  }
}
