@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use "@/shared/styles/mixins/breakpoints";

:root, .editor-styles-wrapper {
  --lb-latest-posts-title-color-text: var(--lb-color-text-strong);
  --lb-latest-posts-title-color-text-hover: var(--lb-color-text-medium);
  --lb-latest-posts-pub-date-color-text: var(--lb-color-text-default);
}


.wp-block-latest-posts {

  &__list {
  }

  li {
    display: flex;
    flex-direction: column-reverse;
    row-gap: var(--wp--preset--spacing--50);
    margin: var(--wp--preset--spacing--110) 0;
    
    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
  }

  &__post {
    &-title {
      @include font.get-text-styles('text-md');
      font-weight: 600;
      color: var(--lb-latest-posts-title-color-text);
      text-decoration: none;
      transition: color 170ms ease-in-out;
      &:hover {
        color: var(--lb-latest-posts-title-color-text-hover)
      }
    }

    &-date {
      @include font.get-text-styles('text-xxs');
      color: var(--lb-latest-posts-pub-date-color-text);
    }
  }

}