@use 'sass:math';
@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';
@use '@/shared/styles/mixins/container';

:root,
.editor-styles-wrapper {
  --lb-casino-selection-color-background: var(--lb-color-surface-high);
  --lb-casino-subtitle-color: var(--lb-color-on-surface-min);
}
.lb-review-list {
  &--theme {
    &_fullwidth {
      padding: var(--wp--preset--spacing--155) 0 var(--wp--preset--spacing--175);
      background-color: var(--lb-casino-selection-color-background);

      @include breakpoints.media-breakpoint-down('sm') {
        padding: var(--wp--preset--spacing--85) 0 var(--wp--preset--spacing--120);
      }

      %wrapper {
        display: grid;
        grid-template-columns: var(--lb-layout-grid-col-template);
        grid-column-gap: var(--lb-layout-grid-gap-x);
        column-gap: var(--lb-layout-grid-gap-x);
        @include container.make-container-max-width();
      }

      %inner {
        grid-column: var(--lb-layout-inner-grid-col-start) /
          var(--lb-layout-inner-grid-col-end);
      }

      %title {
      }
    }

    &_inline {
    }
  }

  &--card-variant {
    &_compact-casino-bonus {
      %list {
        row-gap: var(--wp--preset--spacing--90);
      }
    }
  }

  &--loading {
    %cat-filter, %list {
      opacity: 0.7;
    }

  }

  &__wrapper {
    @extend %wrapper;
  }

  &__inner {
    @extend %inner;
  }

  &__cat-filter {
    position: relative;
    margin-bottom: var(--wp--preset--spacing--140);
    .swiper-wrapper {
      display: flex;
    }
    .swiper-slide {
      width: fit-content;
      &:not(:last-child) {
        margin-right: var(--wp--preset--spacing--60);
      }
    }
    @include breakpoints.media-breakpoint-down('sm') {
      margin-bottom: var(--wp--preset--spacing--120);
    }

    &-nav {
      position: absolute;
      top: 50%;
      z-index: 5;
      @include breakpoints.media-breakpoint-down('sm') {
        display: none;
      }
  
      &-prev {
        left: 0;
        transform: translateX(-50%) translateY(-50%);
      }
      &-next {
        right: 0;
        transform: translateX(50%) translateY(-50%);
      }
    }

    &-inp {
      &#{&} {
        display: none;
      }

    }
    @extend %cat-filter;
  }

  &__heading {
    .lb-post-info {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: var(--wp--preset--spacing--70);
    &:only-child {
      margin-bottom: var(--wp--preset--spacing--140);
      @include breakpoints.media-breakpoint-down('sm') {
        margin-bottom: var(--wp--preset--spacing--100);
      }
    }
    @extend %title;
  }

  &__subtitle {
    &,
    p {
      @include font.get-text-styles('text-xxs', false);
      color: var(--lb-casino-subtitle-color);
    }
    & {
      margin-top: var(--wp--preset--spacing--70);
      margin-bottom: var(--wp--preset--spacing--70);
    }

    &:not(:only-child) {
      margin-bottom: var(--wp--preset--spacing--140);
      @include breakpoints.media-breakpoint-down('sm') {
        margin-bottom: var(--wp--preset--spacing--100);
      }
    }
  }

  &__list {
    &--theme {
      &_default {
        display: flex;
        flex-direction: column;
        row-gap: var(--wp--preset--spacing--100);
      }

      &_1 {
        display: flex;
        flex-direction: column;
        row-gap: var(--wp--preset--spacing--70);
        & > *:not(:last-child) {
          padding-bottom: var(--wp--preset--spacing--70);
          border-bottom: 1px solid var(--lb-color-gray-low);
        }
      }
    }
    @extend %list;
  }

  &__loading {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__actions {
    display: flex;
    margin-top: var(--wp--preset--spacing--100);
    @include breakpoints.media-breakpoint-down('sm') {
      margin-top: var(--wp--preset--spacing--110);
    }

    & > * {
      &:only-child {
        width: 100%;
      }
    }
  }
}
