@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root,
.editor-styles-wrapper {
  --lb-team-member-card-name-color: var(--lb-color-text-strong);
  --lb-team-member-card-pos-color: var(--lb-color-text-default);
  --lb-team-member-card-border-color: linear-gradient(to right, var(--wp--preset--color--primary-200), var(--wp--preset--color--primary-200));
  --lb-team-member-card-border-color-hover: linear-gradient(to right, var(--wp--preset--color--primary-600), var(--wp--preset--color--primary-500));
}

.lb-team-member-card {
  padding: var(--wp--preset--spacing--100);
  border-radius: var(--wp--preset--spacing--60);
  border: 1px solid var(--lb-team-member-card-border-color);

  &:hover {
    border-color: var(--lb-team-member-card-border-color-hover);
  }

  &__avatar {
    display: block;
    border-radius: 50%;
    margin: 0 auto var(--wp--preset--spacing--80);
  }

  &__info {
    &:not(:last-child) {
      margin-bottom: var(--wp--preset--spacing--100);
    }
  }

  &__name {
    text-align: center;
    @include font.get-text-styles('text-lg', false);
    font-weight: 500;
    color: var(--lb-team-member-card-name-color);
    
  }

  &__pos {
    text-align: center;
    @include font.get-text-styles('text-xs', false);
    font-weight: 500;
    color: var(--lb-team-member-card-pos-color);
  }

  &__soclinks {

  }
}