@use "sass:string";
@use "helpers";

@use 'sass:math';
//rsponsive ratio
@mixin responsive-ratio($x, $y, $pseudo: false) {
  $padding: string.unquote(math.div($y, $x) * 100 + '%');
  @if $pseudo {
    &:before {
      @include helpers.pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
