@use 'sass:math';
@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';
@use '@/shared/styles/mixins/media-containers';
@use '@/shared/styles/mixins/container';

body,
.editor-styles-wrapper {
  --lb-review-card-color-background: var(--lb-color-surface);
  --lb-review-card-color-border: var(--lb-color-primary-outline-variant-1);
  --lb-review-card-color-text: var(--lb-color-text-strong);
  --lb-review-card-color-text-sub: var(--lb-color-text-default);
  --lb-review-card-tc-color-text: var(--lb-color-on-surface-lowest);
  --lb-review-card-promo-tc-color-text: var(--lb-color-on-surface-min);
  --lb-review-card-desc-color-text: var(--lb-color-on-surface-lowest);

  --lb-review-card-link-color-text: var(--lb-color-action-text-default);
  --lb-review-card-promo-color-background: var(--lb-color-primary-container-low);
  --lb-review-card-padding-x: var(--wp--preset--spacing--100);

  @include breakpoints.media-breakpoint-down(xs) {
    --lb-review-card-padding-x: var(--wp--preset--spacing--90);
  }
}

.lb-review-card {
  container-type: inline-size;
  color: var(--lb-review-card-color-text);

  &--mr {
    &_closed {
      %extra-content {
        display: none;
      }
      %read-less {
        display: none;
      }
    }

    &_expanded {
      %read-more {
        display: none;
      }
    }
  }

  &__inner {
    background-color: var(--lb-review-card-color-background);
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    border: 1px solid var(--lb-review-card-color-border);
    border-radius: var(--wp--preset--spacing--80);
    overflow: hidden;
    @include media-containers.media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }

  &__label {
    &--bst {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      left: var(--wp--preset--spacing--100);
    }
  }

  &__main {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    padding: var(--wp--preset--spacing--100) var(--lb-review-card-padding-x);
    border-bottom: 1px solid var(--lb-review-card-color-border);
    &:nth-last-child(2) {
      border-bottom: none;
    }
    @include media-containers.media-breakpoint-down(sm) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--wp--preset--spacing--80);
  }

  &__title {
    @include font.get-text-styles('text-md', false);
    font-weight: 600;
    margin-bottom: var(--wp--preset--spacing--50);
  }

  &__logo {
    width: var(--wp--preset--spacing--170);
    height: var(--wp--preset--spacing--170);
    object-fit: contain;
    border-radius: var(--wp--preset--spacing--70);
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: var(--wp--preset--spacing--70);
    row-gap: var(--wp--preset--spacing--60);
    @include font.get-text-styles('text-sm', false);
    @include media-containers.media-breakpoint-down(sm) {
      column-gap: var(--wp--preset--spacing--60);
    }
  }

  &__rating {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    column-gap: var(--wp--preset--spacing--50);
    @include media-containers.media-breakpoint-down(sm) {
      column-gap: var(--wp--preset--spacing--60);
    }
    i {
      position: relative;
      font-size: 1.25em;
      line-height: 0.75em;
      font-weight: 600;
      top: 2px;
    }
  }

  &__link {
    color: var(--lb-review-card-color-text);
    text-decoration: underline;
  }

  &__desc {
    @include font.get-text-styles('text-sm', false);
    color: var(--lb-review-card-desc-color-text);
    ul {
      list-style-type: disc;
      padding-left: var(--wp--preset--spacing--90);
    }
    li {
      margin: var(--wp--preset--spacing--60) 0;
      &:last-child {
        margin-bottom: 0;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__sub {
    grid-column: 6 / 15;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    column-gap: var(--wp--preset--spacing--110);
    row-gap: var(--wp--preset--spacing--110);
    padding: var(--wp--preset--spacing--100) var(--lb-review-card-padding-x);
    background-color: var(--lb-review-card-promo-color-background);
    border-bottom: 1px solid var(--lb-review-card-color-border);
    &:last-child {
      border-bottom: none;
    }
    @include media-containers.media-breakpoint-down(sm) {
      padding: var(--wp--preset--spacing--90) var(--lb-review-card-padding-x);
      grid-column: 1 / -1;
      grid-row: 3 / 4;
      flex-direction: column;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: var(--wp--preset--spacing--60);
    max-width: var(--wp--preset--spacing--410);
    width: 100%;
    @include media-containers.media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &__bonus {
    &-title {
      @include font.get-text-styles('text-md', false);
      font-weight: 600;
      flex-grow: 1;
    }
    &-copy {
      width: 100%;
    }
  }

  &__play {
    width: 100%;
  }

  &__detail {
    &-list {
      grid-column: 1 / 9;
      grid-row: 2/3;
      padding: var(--wp--preset--spacing--90) var(--lb-review-card-padding-x);
      display: flex;
      column-gap: var(--wp--preset--spacing--80);
      row-gap: var(--wp--preset--spacing--80);
      &:nth-last-child(2) {
        grid-column: 1 / -1;
      }
      @include media-containers.media-breakpoint-down(sm) {
        padding: var(--wp--preset--spacing--75) var(--lb-review-card-padding-x)
          var(--wp--preset--spacing--90);
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        flex-direction: column;
      }
    }

    &-item {
      @include media-containers.media-breakpoint-down(sm) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        column-gap: var(--wp--preset--spacing--80);
      }
    }

    &-title {
      @include font.get-text-styles('text-xs', false);
      margin-bottom: var(--wp--preset--spacing--50);
      color: var(--lb-review-card-color-text-sub);
      @include media-containers.media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    &-value {
      @include font.get-text-styles('text-sm', false);
      font-weight: 500;
    }
  }

  &__extra {
    &-actions {
      grid-column: 9 / 15;
      grid-row: 2/3;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: var(--wp--preset--spacing--90) var(--lb-review-card-padding-x);
      @include media-containers.media-breakpoint-down(sm) {
        padding: 0;
        grid-column: 1 / -1;
        grid-row: 5 / 6;
      }
    }

    &-content {
      grid-column: 1 / -1;
      grid-row: 3/4;
      padding: var(--wp--preset--spacing--50) var(--lb-review-card-padding-x) var(--wp--preset--spacing--90);
      @include media-containers.media-breakpoint-down(sm) {
        padding: var(--wp--preset--spacing--75) var(--lb-review-card-padding-x)
          var(--wp--preset--spacing--50);
        grid-column: 1 / -1;
        grid-row: 4 / 5;
      }
      @extend %extra-content;
    }
  }

  &__read-more#{& + '__read-more'},
  &__read-less#{& + '__read-less'} {
    @include media-containers.media-breakpoint-down(sm) {
      width: 100%;
      padding-top: var(--wp--preset--spacing--70);
      padding-bottom: var(--wp--preset--spacing--70);
    }
  }

  &__read-more#{& + '__read-more'} {
    &--lg-only {
      @include media-containers.media-breakpoint-down(sm) {
        display: none;
      }
    }
    &--mb-only {
      @include media-containers.media-breakpoint-up(md) {
        display: none;
      }
    }

    @extend %read-more;
  }

  &__read-less#{& + '__read-less'} {
    @extend %read-less;
  }

  &__tc {
    padding: 0 var(--wp--preset--spacing--80);
    @include font.get-text-styles('text-xs', false);
    color: var(--lb-review-card-tc-color-text);
    margin-top: var(--wp--preset--spacing--60);
  }
}
