@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

.lb-lang-label {
  display: inline-flex;
  align-items: center;
  column-gap: var(--wp--preset--spacing--60);

  &__ico {
    width: 17px;
    height: 17px;
  }

  &__title {
    @include font.get-text-styles('text-sm');
  }
}