@use 'sass:math';
@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';
@use '@/shared/styles/mixins/media-containers';
@use '@/shared/styles/mixins/container';

:root,
.editor-styles-wrapper {
  --lb-ccb-review-card-color-text: var(--lb-color-text-strong);
  --lb-ccb-review-card-color-text-sub: var(--lb-color-text-default);
  --lb-ccb-review-card-color-border: var(--lb-color-surface-outline-1);
  --lb-ccb-review-card-more-color-text: var(--lb-color-on-surface);
}

.lb-compact-casino-bonus-card {
  &:not(:last-child) {
    border-bottom: 1px solid var(--lb-ccb-review-card-color-border);
    padding-bottom: var(--wp--preset--spacing--90);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--wp--preset--spacing--110);
    margin-bottom: var(--wp--preset--spacing--80);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: var(--wp--preset--spacing--70);
    &#{&} {
      text-decoration: none;
    }
  }

  &__logo {
    border-radius: var(--wp--preset--spacing--50);
    object-fit: contain;
    flex-shrink: 0;
  }

  &__title {
    @include font.get-text-styles('text-xxs', false);
    font-weight: 500;
    color: var(--lb-ccb-review-card-color-text);
  }

  &__bonus {
    display: block;
    @include font.get-text-styles('text-sm', false);
    font-weight: 500;
    color: var(--lb-ccb-review-card-color-text);
    margin-bottom: var(--wp--preset--spacing--60);
    &#{&} {
      text-decoration: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tc {
    display: flex;
    margin-bottom: var(--wp--preset--spacing--80);
    &:last-child {
      margin-bottom: 0;
    }
    &--truncated {
      %tc_content {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &-content {
      @include font.get-text-styles('text-xxs', false);
      color: var(--lb-ccb-review-card-color-text-sub);
      &:after {
        content: attr(data-content);
      }
      @extend %tc_content;
    }

    &-more {
      flex-shrink: 0;
      border: none;
      padding: 0;
      margin-left: var(--wp--preset--spacing--50);
      background-color: transparent;
      @include font.get-text-styles('text-xxs', false);
      color: var(--lb-ccb-review-card-more-color-text);
    }
  }
}
