@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

.space-organization-content-rating-overall .star-rating {
	display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 25px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.space-organization-content-rating-overall .star-rating .star-full:before,
.space-organization-content-rating-stars .star-rating .star-full:before {
	content: "\f005";
	font-weight: 900;
}
.space-organization-content-rating-overall .star-rating .star-half:before,
.space-organization-content-rating-stars .star-rating .star-half:before {
	content: "\f5c0";
	font-weight: 900;
}
.space-organization-content-rating-overall .star-rating .star-empty:before,
.space-organization-content-rating-stars .star-rating .star-empty:before {
	content: "\f005";
	font-weight: 400;
}
.space-organization-content-rating-overall .star-rating .star,
.space-organization-content-rating-stars .star-rating .star {
	color: #ff2453;
	display: inline-block;
	font-family: 'Font Awesome 5 Free' !important;
	font-size: 1em;
	font-style: normal;
	line-height: 1;
	text-align: center;
	text-decoration: inherit;
	vertical-align: top;
	width: 1.333em;
	padding: 0 2px;
}
.space-organization-content-rating-stars .star-rating .star {
	width: 1.2em;
	padding: 0;
}