@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

body,
.editor-styles-wrapper {
  --lb-pros-cons-color-text: var(--lb-color-text-default);
  --lb-pros-cons-title-color-text: var(--lb-color-text-strong);
  --lb-pros-cons-item-color-background: var(--lb-color-surface);
}

.lb-pros-cons {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--wp--preset--spacing--90);
    row-gap: var(--wp--preset--spacing--90);
    @include breakpoints.media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }

  & %item {
    margin: 0;
  }

  &-item {
    &__title {
      &#{&} {
        @include font.get-text-styles('text-lg', false);
        font-weight: 500;
        margin-bottom: var(--wp--preset--spacing--100);
        color: var(--lb-pros-cons-title-color-text);
      }
    }

    @extend %item;
  }
}
