@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

.editor-styles-wrapper {
  --lb-pros-cons-color-text: var(--lb-color-text-default);
  --lb-pros-cons-title-color-text: var(--lb-color-text-strong);
  --lb-pros-cons-item-color-background: var(--lb-color-surface);
}

.wp-block-lb-group-list {
  width: 100%;
  display: flex;
  align-items: stretch;

  @at-root .wp-block-column > & {
    min-height: 100%;
  }
}