@use '@/shared/styles/abstracts/colors';
@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root,
.editor-styles-wrapper {
  --ea-color-border: var(--lb-color-surface-outline-1);
  --ea-color-text: var(--lb-color-text-strong);
  --ea-icon-plus-color-text: var(--lb-color-primary);
  --ea-icon-minus-color-text: var(--lb-color-on-surface-min);
}

.sp-easy-accordion.sp-easy-accordion.sp-easy-accordion.sp-easy-accordion {
  .ea {
    &-card {
      border: none !important;
      background-color: transparent !important;

      &:not(:last-child) {
        margin-bottom: var(--wp--preset--spacing--120)!important;
      }

      &:not(:first-child) {
        padding-top: var(--wp--preset--spacing--100);
        border-top: 1px solid var(--ea-color-border)!important;
      }
    }
    &-header {
      a {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: var(--wp--preset--spacing--100);
        padding: 0;
        @include font.get-text-styles('text-lg', false);
        font-weight: 500;
        color: var(--ea-color-text);
        
        @include breakpoints.media-breakpoint-down(sm) {
          column-gap: var(--wp--preset--spacing--80);
        }
      }
    }

    &-expand-icon {
      position: relative;
      top: 2px;
      font-size: font.font-size-by-name('display-xs', false)!important;
      margin: 0;
      text-align: right;
    }

    &-icon {
      
      &-expand-plus {
        &:before {
          color: var(--ea-icon-plus-color-text);
          content: '\e9ac';
        }
      }
      &-expand-minus {
        &:before {
          color: var(--ea-icon-minus-color-text);
          content: '\e9d4';
        }
      }
    }

    &-body {
      padding: 0;
      padding-top: var(--wp--preset--spacing--60);
      padding-left: var(--wp--preset--spacing--160);
      @include breakpoints.media-breakpoint-down(sm) {
        padding-left: var(--wp--preset--spacing--140);
      }

      p {
        color: var(--lb-color-text-default);
        @include font.get-text-styles('text-md', false);
      }
    }
  }

  
  [class^='ea-icon-']:before,
  [class*=' ea-icon-']:before {
    margin: 0;
    font-family: 'lhicon' !important;
    speak: never;
    font-style: normal;
    font-weight: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* better font rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
