$globalSelector: null !default;
$proseCustomSelector: null !default;
$disableNormalize: null !default;

@use 'variables';
@use 'normalize' with (
  $disableNormalize: $disableNormalize
);
@use 'defaults';