$disableWpDefaultStyles: false !default;
$wrapperSelector: null !default;

@use '@/shared/styles/mixins/container';
@use '@/shared/styles/mixins/font';
@use '@/shared/styles/mixins/breakpoints';

:root {
  --lb--caption-color-text: var(--lb-color-text-default);
}

@mixin wp-default-styles() {
  .wp-caption {
    max-width: 100%;
    padding: 1.45em 0 2.9em;
  }

  .alignleft {
    float: left;
    margin-inline-end: 2em;
    text-align: left;
  }

  .alignright {
    float: right;
    text-align: right;
    margin-inline-start: 2em;
  }

  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .alignfull {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    max-width: 100vw;
  }

  .alignwide {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    max-width: 100vw;
  }

  .wp-caption.alignleft,
  .wp-caption.alignright,
  .wp-caption.aligncenter {
    padding-bottom: 2.9em;
  }

  .wp-caption p.wp-caption-text {
    padding: 0;
    margin-bottom: 0;
    font-style: italic;
    @include font.get-text-styles('text-xxs');
  }

  .wp-caption.alignleft p.wp-caption-text {
    text-align: left;
  }

  .wp-caption.aligncenter p.wp-caption-text {
    text-align: center;
  }

  .wp-caption p.wp-caption-text a:hover {
    text-decoration: underline;
  }

  ul.wp-block-gallery.alignfull,
  ul.wp-block-gallery.alignwide {
    margin-left: -8px !important;
    margin-right: -8px !important;
    width: auto !important;
    max-width: 100vw !important;
    margin-top: 1.45em !important;
    margin-bottom: 2.9em !important;
  }
  .alignwide img,
  .alignfull img {
    display: block;
    margin: 0 auto;
  }
  .wp-block-image figcaption {
    padding: 0;
    margin-top: var(--wp--preset--spacing--55);
    margin-bottom: 0;
    text-align: center;
    color: var(--lb--caption-color-text);
    @include font.get-text-styles('text-xxs');
  }
  .wp-block-image.aligncenter {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }

  .wp-block-image.aligncenter > figcaption,
  .wp-block-image.alignleft > figcaption,
  .wp-block-image.alignright > figcaption,
  .wp-block-image.is-resized > figcaption {
    display: block;
  }

  .wp-block-gallery .blocks-gallery-image,
  .wp-block-gallery .blocks-gallery-item {
    margin: 0;
  }

  .wp-block-cover.alignleft,
  .wp-block-cover-image.alignleft {
    float: left;
    margin: 8px 30px 20px 0;
    padding: 0 30px;
  }

  .wp-block-cover.alignright,
  .wp-block-cover-image.alignright {
    float: right;
    margin: 8px 0 20px 30px;
    padding: 0 30px;
  }
}

.wp-block-hide-on-desktop {
  @include breakpoints.media-breakpoint-up(lg) {
    display: none;
  }
}

.wp-block-hide-on-mobile {
  @include breakpoints.media-breakpoint-down(md) {
    display: none;
  }
}

@if not $disableWpDefaultStyles {
  @if $wrapperSelector {
    #{$wrapperSelector} {
      @include wp-default-styles();
    }
  } @else {
    @include wp-default-styles();
  }
}
